Alternate_Contact_Selection-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>ContactSelected</name>
        <label>ContactSelected</label>
        <locationX>424</locationX>
        <locationY>190</locationY>
        <defaultConnector>
            <targetReference>Contact_Lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Contacit_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AltenateContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_Term</targetReference>
            </connector>
            <label>Contacit is blank</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SearchResults</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>LastName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>AltenateContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Alternate Contact Selection {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Alternate Contact Selection</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>Contact_Lookup</name>
        <label>Contact Lookup</label>
        <locationX>593</locationX>
        <locationY>88</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectedContact</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AltenateContact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>FirstName</assignToReference>
            <field>FirstName</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>LastName</assignToReference>
            <field>LastName</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>UpdateCase</label>
        <locationX>919</locationX>
        <locationY>92</locationY>
        <connector>
            <targetReference>ContactUpdated</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Alternate_Contact__c</field>
            <value>
                <elementReference>AltenateContact</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <screens>
        <name>Contact_Select</name>
        <label>Contact Select</label>
        <locationX>427</locationX>
        <locationY>84</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ContactSelected</targetReference>
        </connector>
        <fields>
            <name>Contact_Names</name>
            <choiceReferences>SearchResults</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Contact Names</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ContactUpdated</name>
        <label>ContactUpdated</label>
        <locationX>1075</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>UpdatedMessage</name>
            <fieldText>Alternate contact has been updated. 

Click next to update again.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Search_Term</name>
        <label>Search Term</label>
        <locationX>223</locationX>
        <locationY>84</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Select</targetReference>
        </connector>
        <fields>
            <name>namePrompt</name>
            <fieldText>Enter a name to search</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SelectedContact</name>
        <label>SelectedContact</label>
        <locationX>750</locationX>
        <locationY>93</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateCase</targetReference>
        </connector>
        <fields>
            <name>SelectedMessage</name>
            <fieldText>You&apos;ve selected: {!FirstName} {!LastName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>Search_Term</startElementReference>
    <variables>
        <name>AltenateContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
